<h1>投稿詳細</h1>
  <p>【メールアドレス】<%= @recommended_food.user.email %></p>
  <p>【料理名】<%= @recommended_food.name %></p>
  <p>【コメント】<%= simple_format(@recommended_food.comment) %></p>
  <% if current_user.id == @recommended_food.user_id %>
  <p>
    <%= link_to "編集", edit_recommended_food_path(@recommended_food) %>
    <%= link_to "削除", recommended_food_path(@recommended_food), method: :delete, data: { confirm: "削除しますか?" } %>
  </p>
  <% end %>
  <p><%= link_to "投稿一覧へ", root_path %></p>
<hr>